
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<!-- Centered content goes here -->
	<app-card class="m-5">
		<div class="px-5 my-5 text-center">
			<i class="bi bi-binoculars-fill d-block mx-auto mb-4 fs-1 text-primary"></i>
			<h1 class="display-5 fw-bold text-body-emphasis">Entity View Playground</h1>

			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">experiements with XState and Zero Sync are in play...</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<button type="button" class="btn btn-primary btn-lg px-4 gap-3" [routerLink]="'/messages'">Messages</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button>
				</div>
			</div>
		</div>
	</app-card>
</div>
