
  <!-- Feed Section -->
  <div class="row mt-4">
    <!-- Sidebar -->
    <div id="topics" class="sidebar col-md-3 mb-3">
      <div class="card bg-glass text-white shadow">
        <div class="card-body">
          <h5 class="card-title">Trending Topics</h5>
          <ul class="list-group list-group-flush" *ngIf="topics.length > 0">
            <li class="list-group-item bg-transparent text-white" *ngFor="let topic of topics">
							<a href="#" (click)="filterByTopic(topic.id)">#{{ topic.name }}</a>
						</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Main Feed -->
    <div class="col-md-6">
			<!-- New Message & -->
      <!-- Messages -->
			 <components-messages></components-messages>
    </div>

    <!-- Right Sidebar -->
    <div id="followees" class="col-md-3">
      <div class="card bg-glass text-white shadow">
        <div class="card-body">
          <h5 class="card-title">Who to Follow</h5>
          <ul class="list-group list-group-flush">
            <li *ngFor="let user of users" class="list-group-item bg-transparent text-white d-flex justify-content-between align-items-center">
              <span>{{ user.name }}</span>
              <button *ngIf="canFollowUser(user.id)" class="btn btn-sm btn-outline-light" (click)="followUser(user.id)">Follow</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
