
<!-- Componentise these Message Lists -->
<div *ngFor="let tweet of displaymessages" class="card bg-glass text-white shadow mb-3">
	<div class="card-body pb-0 d-flex flex-nowrap flex-row">
		<div class="">
			<img src="avatars/avatar.jpeg" alt="" width="40" height="40"
			class="rounded-circle me-2">
		</div>
		<div class="d-flex mb-2 justify-content-between flex-column flex-grow-1">
			<div class="head d-flex flex-row">
				<div class="flex-grow-1">
					<h6 class="mb-0 d-inline me-2">{{ tweet.sender.name }}</h6>
					<small class="text-muted">{{ tweet.timestamp | date }}</small>
				</div>
				<div class="">
					<div ngbDropdown class="d-flex" *ngIf="tweet.senderID === userID">
						<button type="button" class="btn btn-text btn-sm py-0 m-0" ngbDropdownToggle [attr.id]="'context-menu-'+tweet.id">
							<i class="bi bi-three-dots"></i>
						</button>
						<div ngbDropdownMenu [attr.aria-labelledby]="'context-menu-'+tweet.id" class="d-blockmx-0 border-0 shadow">
							<button ngbDropdownItem class="d-flex gap-2 align-items-center"><i class="bi bi-pencil-fill"></i> Edit</button>
						</div>
					</div>
				</div>
			</div>
			<p class="mb-0">{{ tweet.body }}</p>
		</div>
	</div>
	<div class="card-footer border-top-1 bg-transparent p-0 d-flex flex-nowrap justify-content-between">
		<!-- <button class="btn btn-sm btn-text col py-1 m-0" (click)="replyMessage(tweet.id)" placement="bottom" ngbTooltip="Reply" container="body">
			<i class="bi bi-chat"></i> {{ tweet.messageReplyCount }}
		</button>
		<button class="btn btn-sm btn-text col py-1 m-0" (click)="repostMessage(tweet.id)" placement="bottom" ngbTooltip="Repost" container="body">
			<i class="bi bi-recycle"></i> {{ tweet.messageRepostCount }}
		</button>
		<button class="btn btn-sm btn-text col py-1 m-0" (click)="likeMessage(tweet.id)" placement="bottom" ngbTooltip="Like" container="body">
			<i class="bi bi-hand-thumbs-up"></i> {{ tweet.messageLikeCount}}
		</button> -->
		<button class="btn btn-sm btn-text col py-1 m-0">
			<i class="bi bi-graph-up" placement="bottom" ngbTooltip="Views"container="body"></i> {{ tweet.messageViewCount }}
		</button>
		<div class="action-group col">
			<button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Bookmark" container="body">
				<i class="bi bi-bookmark"></i>
			</button>
			<button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Share" container="body">
				<i class="bi bi-share"></i>
			</button>
		</div>
	</div>
</div>

<!-- <div class="btn-toolbar">
	<ngb-pagination
		(pageChange)="triggerPagination($event)"
		[(page)]="page"
		[pageSize]="pageSize"
		[collectionSize]="allMessages.length || 0"
		[maxSize]="6" />
	<div class="d-flex flex-grow-1 justify-content-end align-items-center">
		<em>
				Showing {{ displaymessages.length }} of {{ allMessages.length }} messages.
		</em>
	</div>
</div> -->
