
<!-- Componentise these Message Lists -->
<tc-message-list [messages]="displayMessages">
	<ng-template [tcMessageItem] let-id="id" let-messageReplyCount="messageReplyCount" let-messageRepostCount="messageRepostCount" let-messageLikeCount="messageLikeCount" let-messageViewCount="messageViewCount">
		TEST2
		<button class="btn btn-sm btn-text col py-1 m-0">
			<i class="bi bi-graph-up" placement="bottom" ngbTooltip="Views"container="body"></i> {{ messageViewCount }}
		</button>
		<!-- <div class="action-grup col">
			<button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Bookmark" container="body">
				<i class="bi bi-bookmark"></i>
			</button>
			<button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Share" container="body">
				<i class="bi bi-share"></i>
			</button>
		</div> -->

		<div class="action-group col">
			<!-- <button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Bookmark" container="body" (click)="bookmarkMessage(tweet.id)">
				<i class="bi" [ngClass]="{'bi-bookmark': !isBookmarked(tweet.id), 'bi-bookmark-fill': isBookmarked(tweet.id)}"></i>
			</button>
			<button class="btn btn-text text-tertiary btn-sm" placement="bottom" ngbTooltip="Share" container="body" [disabled]="true" (click)="shareMessage(tweet.id)">
				<i class="bi bi-share"></i>
			</button> -->
		</div>
	</ng-template>
</tc-message-list>


<!-- <div class="btn-toolbar">
	<ngb-pagination
		(pageChange)="triggerPagination($event)"
		[(page)]="page"
		[pageSize]="pageSize"
		[collectionSize]="allMessages.length || 0"
		[maxSize]="6" />
	<div class="d-flex flex-grow-1 justify-content-end align-items-center">
		<em>
				Showing {{ displayMessages.length }} of {{ allMessages.length }} messages.
		</em>
	</div>
</div> -->
