:host{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  // max-height: 100vh;
  overflow-x: auto;
  // overflow-y: hidden;
  // // background-image: url('/glass_bg.jpg');
  // background-attachment: scroll;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}
// }

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  // background-color: var(--bs-body-bg);
  // background-color: #f8f9fa;
  overflow-y: auto;
  // box-shadow: var(--bs-box-shadow);
}
